<head>
	<link rel="stylesheet" type="text/css" href="../css/landing.css">
	<link rel="stylesheet" type="text/css" href="../css/homePage.css">
	<link rel="stylesheet" type="text/css" href="../css/userProfile.css">
	<link rel="stylesheet" type="text/css" href="../css/friends.css">
	<script src="../js/jquery-1.11.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<title>
		Social Network
	</title>
</head>