<button id="redirectToProfile" type="button">Profile</button>
<button id="redirectToFriends" type="button">Friends</button>
<button id="logOutUser" type="button">Log Out</button>
<script>
	$("#logOutUser").on("click",function(){
		$.ajax({
			url: "/logout",
			method: "POST", 
			success: function(){
				location.href = "http://localhost:3000";
			},
			error: function(){
				
			}
		})
	});

	$("#redirectToProfile").on("click",function(){
		location.href = "http://localhost:3000/userProfile";
	});
	
	$("#redirectToFriends").on("click",function(){
		location.href = "http://localhost:3000/friends";
	});
</script>