
<html>


<%include partials/header%>
	<body>
	<%include partials/logout%>
		<h1>Find Friends</h1>
		<input type="text" id="searchUser" name="searchUser" placeholder="Search Friend">
		<button id="searchBTN" class="searchButton" type="button">Search Friend</button>
		<div id="searchResults">
		
		<%userFriends.forEach(function(friend){%>
			<div class="potentialFriend">
				<h3><%=friend.firstName%> <%=friend.surname%></h3>
				<button id="<%=friend.userID%>" class="requestButton" type="button">Send Friend Request</button>
			</div>
		<%})%>
		
		</div>
		
		
		
	</body>

	<script>
	$(".requestButton").on('click',function(){
		var clickedButton = $(this);
		$.ajax({
			method: "POST",
			url: "/friendRequest",
			contentType: "application/json",
			data: JSON.stringify({"friendMemberID": clickedButton.attr("id")}),
			success: function(){
				clickedButton.closest(".potentialFriend").remove();
			},
			error: function(){
				console.log("failed to request user friendrequest");
			}
		})
	});

		
		
		$("#searchBTN").on("click", function(){
			$("#searchUser").html("Search Email");
			var results = $(this);
	        $.ajax({
	            method: "POST",
	            url: "/search",
	            data: JSON.stringify({"search": $("#searchUser").val()}),
				contentType: "application/json",
	            success: function(searchedUser){
	            	
	            	console.log(searchedUser);
	                console.log("Searched Successful");
	                var htmltext = "<div id=\"" + searchedUser.userID + "\" class=\"userFriendList\">";
	                
	                htmltext += "<span>" + searchedUser.firstName + " " + searchedUser.surname + "</span>";
	                htmltext += "<button id=\"acceptFriendRequest\" type=\"button\">Accept Friend</button>";
	                htmltext += "<button id=\"rejectFriendRequest\" type=\"button\">Decline Friend</button>";
	                results..innerHTML = htmltext;
	                $('#searchResult').load(" #searchResult");
	                console.log(htmltext);
	                
	            },
	            error: function(err){
	            	$("#searchResult").html(err.message);
	            }
	        })
	    });
		
		
	</script>
</html>
