<html>
	<%include partials/header%>
	<body class="landing_body">
		<h1 id="landingHeader">My Face</h1>
		<div id="signUpDiv">
			<form id="signUpForm">
				<h2>Sign Up&nbsp</h2>
				<input type="text" id="firstName" name="firstName" placeholder="Name">
				<input type="text" id="surname" name="surname" placeholder="Surname">
				<input type="text" id="email" name="email" placeholder="Email Address">
				<input type="password" id="password" name="password" placeholder="password">
				<input id="registerUser" type="button" value="Register">
			</form>
		</div>
		<div id="logInDiv">
			<form id="logInForm">
				<h2>Login&nbsp</h2>
				<input type="text" id="userEmail" name="email" placeholder="Email Address">
				<input type="password" id="userPassword" name="password" placeholder="password">
				<input id="loginUser" type="button" value="Log In">
			</form>
		</div>
	</body>
	<script>
	
	$("#registerUser").on("click", function(){
        $.ajax({
            method: "POST",
            url: "/signUp",
            data: $("#signUpForm").serialize(),
            success: function(){
                location.href = "http://localhost:3000/userProfile";
            },
            error: function(err){
            	$("#firstName,#email,#surname,#password").val("");
            }
        })
    });
	
	$("#loginUser").on("click", function(){
        $.ajax({
            method: "POST",
            url: "/login",
            data: $("#logInForm").serialize(),
            success: function(){
            	location.href = "http://localhost:3000/userProfile";
            },
            error: function(err){
            	$("#userEmail,#userPassword").val("");
            }
        })
    });
	</script>
</html>