<html>
<%include partials/header%>
<body>
	<%include partials/logout%>
	<button id="editProfileButton" type="button">Edit</button>
	<h1 id="profileHeader">Profile</h1>
	<div id="userProfileDiv">
		<div class="profileInfo" id="profile_picture_div">
			<h2>Name:<%=firstName%></h2>
			<h2>Surname:<%=surname%></h2>
		</div>
		<div class="profileInfo" id="about_me">
			<h3>About me</h3>
			<h4>email: <%=email%></h4>
		</div>
	</div>
	<div id="editProfileFormContainer">
		<form id="editProfileForm">
			<ul>
				<li><label for="firstName">First Name</label> <input
					type="text" name="firstName" value="<%=firstName%>"></li>
				<li><label for="surname">Surname</label> <input type="text"
					name="surname" value="<%=surname%>"></li>
				<li><label for="email">Email</label> <input type="text"
					name="email" value="<%=email%>"></li>
			</ul>
			<button id="saveProfileButton" type="button">Save</button>
			<button id="cancelEditProfile" type="button">Cancel</button>
		</form>
	</div>
	<div id="userFriends">
		<h2>Friends</h2>
		<ul>
			<%userFriends.forEach(function(friend){%>
			<li>
				<div id="<%=friend.userID%>" class="userFriendList">
					<span><%=friend.friendName%> <%=friend.friendLastName%></span>
<!-- 					<button id="visitingProfile" type="button">Go to Profile</button> -->
				</div>
			</li> <%})%>
		</ul>
	</div>

	<div class="friendRequestsSection">
		<h2>Pending Requests</h2>
		<ul>
			<%friendRequests.forEach(function(request){%>
			<li>
				<div id="<%=request.userID%>" class="friendRequest">
					<span><%=request.friendName%> <%=request.friendLastName%></span><br>
					<button id="acceptFriendRequest" type="submit">Accept</button>
					<button id="rejectFriendRequest" type="submit">Decline</button>
				</div>
			</li> <%})%>
		</ul>
	</div>
</body>
<script>
	$("#editProfileButton").on("click", function() {
		$("#editProfileFormContainer").show();
	});

	$(document).on("click", "#cancelEditProfile", function() {
		$("#editProfileFormContainer").hide();
	});

	$("#saveProfileButton").on("click", function() {
		var updatedProfileData = $("#editProfileForm").serialize();
		$.ajax({
			method : "POST",
			url : "http://localhost:3000/userProfile/edit",
			data : updatedProfileData,
			success : function(updatedProfileData) {
				console.log(updatedProfileData);
				$("#editProfileFormContainer").hide();
				request.cookieAuth.set({"user": updatedProfileData.email, "memberID": updatedProfileData.userID,"firstName":updatedProfileData.firstName});
				location.href = "http://localhost:3000/";
			},
			error : function() {
				console.log("error on save");
			}
		})

	});
	
	$("#acceptFriendRequest").on("click",function(){
		var friendUserID = $(this).parent().attr("id");
		$.ajax({
			method: "POST",
			url: "/acceptFriendRequest",
			contentType: "application/json",
			data: JSON.stringify({"userID": friendUserID}),
			success: function(){
				location.reload();
			}
		})
	});	

	$("#rejectFriendRequest").on("click",function(){
		var friendUserID = $(this).parent().attr("id");
		$.ajax({
			method: "POST",
			url: "/rejectFriendRequest",
			contentType: "application/json",
			data: JSON.stringify({"userID": friendUserID}),
			success: function(){
				location.reload();
			}
		})
	});	
</script>
</html>