#profileHeader{
	text-align: center;
}

#userProfileDiv{
	float: left;
	margin-left: 20%;
}

.profileInfo{
	width: 50%;
}


#saveProfileButton{
	float: left;
	margin-left: 40px
}

#cancelEditProfile{
	float: left;
	margin-left: 10px;
}

#editProfileFormContainer{
	width: 20%;
	margin-left: 5%;
	float: left;
	background-color: #f4f4f4;
	display: none;
}

#editProfileForm ul{
	list-style-type: none;
}

#editProfileForm ul li label{
	float: left;
	clear: both;
}

#editProfileForm ul li input{
	float: left;
	clear: both;
	margin-bottom: 5px;
}

#editProfileForm ul li textarea{
	float: left;
	clear: both;
	resize: none;
	margin-bottom: 5px;
}
.friendRequestsSection{
	float: right;
	margin-right: 2px;
}
.friendRequestsSection ul{
	list-style-type: none;
}

#userFriendsListSection{
	float:left;
}

#userFriendsListSection ul{
	padding-left: 0px;
}

